*{
    margin:0px;
    border:0px;
}
body{
    margin-top: 40px;
    text-align: center;
}
a{
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: large;
    text-decoration: none;
    color: black;
}
#top{
    font-size: 40px;
    margin-top: 15px;
    color: white;
    margin:0%
}
#next{
    font-size: 70px;
    color: white;
    margin:0%
}
#na{
    margin-top: 5px;
    color: white;
}
.heading{
    background-color: black;
}
#anchor{
    margin-bottom: 30px;
}
#crt{
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
    
}
#tj{
    background-color: orange;
    color: white;
}
#dm{
    background-color: violet;
    color: white;
}
#pm{
    background-color:aqua;
    color: white;
}
img{
    margin-bottom: 40px;
}
